@model Quiz

<form asp-controller="Quiz" asp-action="StartQuiz">
    <input type="hidden" name="_id" value='@Model._id' />
    <input type="submit" id="startQuizButton" class="btn btn-primary btn-block btn-lg" value="Start quiz!" />
</form>

<h1>Edit your quiz!</h1>
@{ int counter = 0;}

<h2><input type="text" style="text-align:center" id="quizName" value="@Model.Name" /></h2>
    @foreach (var song in Model.Songs)
    {
        <div id="@counter" class="RemoveDiv">
            <div class="container-full">
                <div class="list-group">
                    <form asp-controller="Quiz" asp-action="EditSong">
                        <button class="RemoveSong removeRow btn btn-danger" name="@(counter++)"><span class="glyphicon glyphicon-trash" style="pointer-events:none;"></span>&nbspRemove</button>
                        <button type="submit" class="btn btn-default" style="max-width:640px;min-width:350px">@song.Artist - @song.Title</button>
                        <div class="btn" style="visibility:hidden">&nbspRemove</div>
                        <input type="hidden" name="id" value='@Json.Serialize(song)' />
                    </form>
                </div>
            </div>
        </div>
    }





<button class="btn btn-primary" onclick="location.href='@Url.Action("AddSong", "Quiz")'"><span class="glyphicon glyphicon-plus" style="pointer-events:none;"></span>Add song</button>
<button class="btn btn-success" id="saveQuiz"><span class="glyphicon glyphicon-floppy-disk" style="pointer-events:none;"></span>&nbspSave</button>
<script src="~/js/SaveQuizAjax.js"></script>
<script src="~/js/RemoveSongFromQuiz.js"></script>

