@model Quiz

<h1>Edit your quiz!</h1>

@foreach (var song in Model.Songs)
{
    <form asp-controller="Quiz" asp-action="EditSong">
        <input type="hidden" name="id" value='@Json.Serialize(song)' />
        <input type="submit" value="@song.Artist - @song.Title" />
    </form>
}
<form asp-controller="Quiz" asp-action="StartQuiz">
    <input type="hidden" name="_id" value='@Model._id' />
    <input type="submit" value="Start quiz!" />

</form>
<button class="btn btn-success" onclick="location.href='@Url.Action("AddSong", "Quiz")'"><span class="glyphicon glyphicon-plus"></span>Add song</button>
<button class="btn btn-primary" id="saveQuiz">Save quiz!</button>
<script src="~/js/SaveQuizAjax.js"></script>
