@model EditSongVM

<h1>@Model.Artist - @Model.Title</h1>
<div class="container-full">
    <div class="list-group">
        <form action="/Quiz/UpdateQuestions" method="post" id="editSongForm">
            @{ int counter = 0;}
            @foreach (var item in Model.Questions)
            {
                <input type="text" name="item.Text" id="Question-@counter" value="@item.Text" /><input type="text" name="item.CorrectAnswer" value="@item.CorrectAnswer" id="Answer-@(counter++)" /><br />
     
            }
            <input type="hidden" value="@Model.SpotifyReferenceID" name="id" />
            <button id="addField" name="@counter">Add new question</button>
            <input type="submit" value="Save" />
        </form>
    </div>
</div>
<script src="~/js/AddNewQuestion.js"></script>
