@model QuizPlayerVM



<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

<form asp-controller="Quiz" asp-action="SubmitAnswer" onsubmit="return confirm('Do you want to submit your answers?');">
    <h2>@Model.SubmitterName</h2>
    @for (int i = 0; i < Model.Songs.Count; i++)
    {
        <div class="jumbotron" style="border:solid">
            <h2>Frågor till låt @(i + 1)</h2>
            @foreach (var question in Model.Songs[i].Questions)
            {
                <p>@question.Text</p>
                <input type="text" class="form-control" name="answer" />
            }
        </div>
    }
    <br />
    <input type="hidden" name="submitterName" value="@Model.SubmitterName" />
    <input type="hidden" name="runningQuizId" value="@Model._id" />
    <input type="submit" class="btn btn-success" value="Submit answers!" />
</form>