@model QuizMasterVM
<h1 id="pinHeadline">Your PIN is: @Model.Pin</h1>

<b>Connected players: </b>
<div id="connectedPlayers">
    <i>Participants connecting...</i>
</div>
<br />
<button name="Pin" value="@Model.Pin" class="btn btn-primary btn-lg" id="actuallyStartQuiz">Begin quiz</button><br />
<label id="startQuizInfo">When everyone has connected, start your quiz!</label>
<script src="~/js/ActuallyStartQuiz.js"></script>
<script src="~/js/PlayPreview.js"></script>
<div id="actualQuiz" class="hiddenQuiz">
    <h1>@Model.Name</h1>
    <h3>By @Model.Owner</h3>
    <div id="playListener">
        @for (int i = 0; i < Model.Songs.Count; i++)
        {
            <div class="jumbotron" style="border:solid">
                <h2>
                    Song @(i + 1) <button type="button" class="btn btn-primary play-button" preview-url="@(Model.Songs[i].PreviewUrl)">
                        <span class="glyphicon glyphicon-play"></span> Play
                    </button>
                </h2>

                <div class="songPlaceholder" id="songPlaceholder@(i)">
                    <button name="@(i)" class="btn showbutton">(Show answer)</button>
                </div>
                <div class="song" id="song@(i)">
                    <h2>@Model.Songs[i].Artist - @Model.Songs[i].Title</h2>
                    @foreach (var question in Model.Songs[i].Questions)
                {
                        <div><b>@question.Text</b></div>
                        <div>@question.CorrectAnswer</div>
                    }
                </div>
            </div>
        }
    </div>
</div>
<script src="~/js/UnhideAnswers.js"></script>