@model List<PlaylistVM>
<h1>Välj en playlist att importera från Spotify</h1>
<div class="list-group" style="display:inline-block;">
    @foreach (var playlist in Model)
    {
        <form asp-controller="Quiz" asp-action="Create" onsubmit="return confirm('Vill du skapa en quiz från playlisten @playlist.Name?');">
            <input type="hidden" name="@nameof(PlaylistVM.Name)" value="@playlist.Name" />
            <input type="hidden" name="@nameof(PlaylistVM.SpotifyRef)" value="@playlist.SpotifyRef" />
            <button asp-controller="Quiz" asp-action="@playlist.Name" class="list-group-item btn btn-default">@playlist.Name</button>
        </form>
    }
</div>